@media only screen and (max-width: 1065px) {
  .menuContainer {
    width: 100%;
    height: 5.3em;
    z-index: 1;
    background: #1f787e url('../images/menu.svg') no-repeat 98% 80%;
    cursor: pointer;
    transition: 0.15s;
  }

  #closeMenu {
    width: 100%;
    height: 5.3em;
    display: none;
    background: #1a656a url('../images/menu.svg') no-repeat 98% 80%;
    cursor: pointer;
    transition: 0.15s;
    position: absolute;
  }

  .menuContainer:hover {
    background: #1a656a url('../images/menu.svg') no-repeat 98% 80%;
  }

  #nav,#nav ul {
      list-style: none outside none;
      margin: 0;
      padding: 0;
  }
  #nav {
    font-size: 12px;
    height: 20px;
    padding: 0 0 0 0;
    width: 100%;
    position: absolute;
    top: -9em;
    z-index: -1;
    opacity: 0;
    transition: 1s
  }
  #nav ul {
      background-color: #404040;
      border:1px solid #404040;
      border-radius: 0 5px 5px 5px;
      border-width: 0 1px 1px;
      left: -9999px;
      overflow: hidden;
      position: absolute;
      top: -9999px;
      z-index: 2;
  }
  #nav li {
    width: 100%;
  }

  #nav li a {
      color: white;
      display: block;
      font-weight: normal;
      height: 37px;
      position: relative;
      padding-top: 0.3em;
      text-decoration: none;
      text-align: center;
      background: #1f787e;
      font-size: 20px;
      z-index: 1;
      transition: 0.15s;
  }
  #nav li:hover > a {
      color: #20b8c1;
  }
  #nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
      background: none repeat scroll 0 0 #303030;
      outline: 0 none;
  }
  #nav li:hover ul.subs {
      left: 0;
      top: 35px;
      width: 180px;

  }
  #nav ul li {
      background: none;
      width: 100%;
  }
  #nav ul li a {
      float: none;
      color:white;
      font-size: 13px;
      padding-top: 0.8em;
  }
  #nav ul li:hover > a {
    background-color: #121212;
    color: #20b8c1;
  }

  .linea_vertical {

      float: left;
      height: 3.0em;
      border-right: 0.1em solid #d0d0d0;
  }
}

@media only screen and (max-width: 5000px) and (min-width: 1066px){
.menuContainer {
  margin: 6em auto;
  margin-bottom: 1em;
  width: 75em;
  height: 2em;
  z-index: 1;
  background: none;
  cursor: auto;
  transition: 0.15s;
}

#closeMenu {
  display: none;
}

#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
  font-size: 16px;
  height: 2.5em;
  padding: 0 0 0 9px;
  width: 65.1em;
  float: right;
  position: absolute;
  z-index: auto;
  top: 13em;
  opacity: 1;
  transition: 1s
  border: 1px solid black;
}
#nav ul {
    background-color: #404040;
    border:1px solid #404040;
    border-radius: 0 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;
}
#nav li {

    float: left;
    position: relative;
}

#nav li a {
    color: black;
    display: block;
    float: left;
    font-weight: normal;
    height: 37px;
    padding: 10px 10px 5px 10px;
    position: relative;
    text-decoration: none;
    margin:0 5px;
    background: none;
    z-index: 1;
    transition: 0.15s;
}
#nav li:hover > a {
    color: #20b8c1;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}
#nav li:hover ul.subs {
    left: 0;
    top: 35px;
    width: 180px;

}
#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
    color:white;
}
#nav ul li:hover > a {
    background-color: #121212;
    color: #20b8c1;
}

.linea_vertical {
    float: left;
    height: 2.5em;
    border-right: 0.1em solid #d0d0d0;
}
}
