.Tabla_Partidas {
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #7f7f7f;
  border-radius: 11px;
  overflow: auto;
}

.Tabla_Partidas table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Tabla_Partidas tr:last-child td:last-child {
  border-bottom-right-radius: 11px;
}

.Tabla_Partidas table tr:first-child td:first-child {
  border-top-left-radius: 11px;
}

.Tabla_Partidas table tr:first-child td:last-child {
  border-top-right-radius: 11px;
}

.Tabla_Partidas tr:last-child td:first-child {
  border-bottom-left-radius: 11px;
}

.Tabla_Partidas tr:nth-child(odd) { background-color: #bfdfff; }

.Tabla_Partidas tr:nth-child(even) { background-color: #ffffff; }

.Tabla_Partidas td {
  vertical-align: middle;
  border: 1px solid #7f7f7f;
  border-width: 0px 1px 1px 0px;
  padding: 9px;
  font-size: 10px;
  font-family: "Century Gothic", "AppleGothic", sans-serif;
  font-weight: normal;
  color: #000000;
}

.Tabla_Partidas tr:last-child td { border-width: 0px 1px 0px 0px; }

.Tabla_Partidas tr td:last-child { border-width: 0px 0px 1px 0px; }

.Tabla_Partidas tr:last-child td:last-child { border-width: 0px 0px 0px 0px; }

.Tabla_Partidas tr:first-child td {
  background-color: #046fdb;
  border: 0px solid #7f7f7f;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
}

.Tabla_Partidas tr:first-child:hover td { background-color: #046fdb; }

.Tabla_Partidas tr:first-child td:first-child { border-width: 0px 0px 1px 0px; }

.Tabla_Partidas tr:first-child td:last-child { border-width: 0px 0px 1px 1px; }
