.CSSTableGenerator {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0px solid #045fb4;
  font-size: 15px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
}

.CSSTableGenerator table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.CSSTableGenerator tr:last-child td:last-child {
  border-bottom-right-radius: 13px;
}

.CSSTableGenerator table tr:first-child td:first-child {
  border-top-left-radius: 13px;
}

.CSSTableGenerator table tr:first-child td:last-child {
  border-top-right-radius: 13px;
}

.CSSTableGenerator tr:last-child td:first-child {
  border-bottom-left-radius: 13px;
}

.CSSTableGenerator tr:nth-child(odd) { background-color: #69abe5; }

.CSSTableGenerator tr:nth-child(even) { background-color: #a8d9ff; }

.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #045fb4;
  border-width: 0px 1px 1px 0px;
  text-align: center;
  padding: 11px;
  font-size: 14px;
  font-family: "Century Gothic";
  font-weight: bold;
  color: #000000;
}

.CSSTableGenerator tr:last-child td { border-width: 0px 1px 0px 0px; }

.CSSTableGenerator tr td:last-child { border-width: 0px 0px 1px 0px; }

.CSSTableGenerator tr:last-child td:last-child { border-width: 0px; }

.CSSTableGenerator tr:first-child td {
  background-color: #007fff;
  border: 0px solid #045fb4;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Georgia;
  font-weight: bold;
  color: #ffffff;
}

.CSSTableGenerator tr:first-child:hover td { background-color: #007fff; }

.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

.ver { height: 15px; width: 50px; background: #fbdf93; border-radius: 30px; }

.ver:active {
  height: 13px;
  width: 46px;
  background: #fff3d4;
  border: 2px outset #e7a61a;
}

.editar { height: 15px; width: 50px; background: #105e59; border-radius: 30px; }

.editar:active {
  height: 13px;
  width: 46px;
  background: #3b9c96;
  border: 2px outset #105e59;
}

.eliminar {
  height: 15px;
  width: 55px;
  background: #ff2600;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  font-size: 8pt;
  font-family: arial;
  text-decoration: none;
  cursor: pointer;
}

.eliminar:active { height: 11px; width: 51px; border: 2px outset #ff2600; }

.restaurar {
  height: 15px;
  width: 55px;
  background: #d3f1fc;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  font-size: 8pt;
  font-family: arial;
  text-decoration: none;
  cursor: pointer;
}

.restaurar:active {
  height: 13px;
  width: 51px;
  background: #e8f9ff;
  border: 2px outset #00f2ff;
}

.reusar {
  height: 15px;
  width: 51px;
  background: #b5b5b5;
  border-radius: 30px;
  font-weight: bold;
  color: black;
  font-size: 8pt;
  font-family: arial;
  text-decoration: none;
  cursor: pointer;
}

.reusar:active {
  height: 11px;
  width: 46px;
  background: #ffffff;
  border: 2px outset #6b6b6b;
}
