/*general*/
* { box-sizing: border-box; }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
main {
	display: block;
}

body { line-height: 1; height: 100%; font-family: 'Century Gothic'; }

ol,ul { list-style: none; }

blockquote,q {	quotes: none; }

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table { border-collapse: collapse; border-spacing: 0; }

#signup .text:focus { outline: 0px; }

input:focus,button:focus { outline: none; }
/*fGeneral*/

/*frameLogin*/
.login {
	background: #414141;
	width: 60%;
	height: 600px;
	position: absolute;
	top: 100px;
	left: 20%;
}

.titleLogin {
	font-size: 30px;
	color: white;
	text-align: center;
	margin: 75px 0 50px 0;
}

.lInput {
	text-align: center;
	width: 50%;
	margin: 50px 25%;
	height: 30px;
}

.lSubmit {
	text-align: center;
	width: 35%;
	margin: 50px 32.5%;
	height: 30px;
	background: #1f787e;
	border: none;
	color: white;
	cursor: pointer;
}

.lSubmit:hover {
	background: #309198;
}
/*fFrameLogin*/

/*index*/
#hPrincipal { width: 100%; height: 50px; background: #414141; }

#titulo {
  float: left;
  width: 85%;
  height: 100%;
  text-align: center;
  pading: 20% 0;
}

#titulo h1 {
  color: #f5f5f5;
  font-size: 25px;
  margin-top: 12.5px;
}

#loginout { float: left; width: 15%; height: 100%; }

#loginout button {
  height: 100%;
  width: 100%;
  background: #414141;
  border: none;
  border-left: 1px solid white;
  color: #fff;
  font-size: 20px;
	transition: 0.3s, font-size 0.1s;
	cursor: pointer;
}

#loginout button:hover {
	border-left: 1px solid #1f787e;
	color: #288c93;
	text-shadow: 0 0 10px #248e95;
	box-shadow: 0 0 10px #248e95;
}

#loginout button:active {
	font-size: 18px;
	text-shadow: 0 0 4px #28a0a8;
	color: #34bbc4;
}

#persContainer, .rDivision { transition: width 0.5s; }

#persContainer { width: 100%; height: 75px; }

#tUsersContainer { display: none; }

.rDivision {
	width: 33.33%;
	float: left;
	height: 100%;
}

#persTUsersContainer { width: 100%; padding: 5%; }

@media screen and (max-width: 1000px) {
	.rDivision { width: 100%; margin: 0 0 50px 0; }
}

.rDivision div {
	margin: auto;
	height: 75%;
	width: 80%;
	line-height: 68px;
}

.rDivision div input {
	height: 100%;
	margin: auto;
	width: 100%;
	vertical-align: middle;
}

#fDate, #lDate { display: none; }
/*fIndex*/

/*reporte*/
#printable { visibility: hidden; }

#atPrint { width: 100%; height: auto; }

.fPage { margin: 10px; }

.salto { page-break-after: always; }

@media print {
  body * { visibility: hidden; }

	#hPrincipal { display: none; }

	#printable { visibility: visible; }

  #atPrint, #atPrint * { visibility: visible;  }

	.fPage { margin: 100px; }
}

.tHoja {
	width: 800px;
	margin: 10px auto;
	padding: 10px 50px;
}

.tHoja header {
	width: 100%;
	margin: 0 0 30px 0;
}

#hContainer {
	width: 100%;
	height: 70px;
}

.lContainer {
	width: 120px;
	float: left;
	height: 113px;
}

.lContainer img { width: 100%; }

.rContainer {
	width: 540px;
	float: right;
	height: 113px;
	padding-top: 55px;
	text-align: right;
}

.rContainer span { margin-right: 25px; }

hr.infSep {
  height: 5px;
  border: 0;
	border-radius: 2px;
  box-shadow: inset 0 12px 12px -7px #1f787e;
}

#pMain { text-align: center; }

#pMain h2 { font-size: 20px; margin-bottom: 10px; }

#pMain p { font-size: 14px; margin-bottom: 20px; }

#tAsistencia { width: 100%; }

#tAsistencia * { vertical-align: middle; font-size: 12px;}

#tAsistencia tbody tr td, #tAsistencia thead tr th {
	border: 1px solid black;
	padding: 2px 0;
}
.cLunes{ background-color: #dea0a0; }

.cMartes{ background-color: #e4e4e4; }

.cMiercoles{ background-color: #b1d7b1; }

.cJueves{ background-color: #ede9b2; }

.cViernes{ background-color: #becfdf; }

.linea{ border-top: 3px solid  black; }

#tAsistencia tbody { border: 3px solid black; }

#tAsistencia thead tr th:nth-child(n+2) {
	border: 3px solid black;
}
.tAReporte{ margin: 0px; height: 80px; width: 699px; border: 2px solid black;}

#tAsistencia thead tr th:first-child {
	border-top: 0px solid black;
	border-left: 0px solid black;
}

.tablaUsers { width: 100%; text-align: center; }

.tablaUsers thead { font-size: 20px; padding: 10px; }

.tablaUsers th { padding: 20px; }

.tablaUsers td { padding: 5px; }

.tablaUsers tr th:nth-child(1) { width: 30px; }

.acomoda div {
	float: left;
  width: 50%;
  padding: 10px;
	text-align: center;
}

#toggler1, #toggler2,#toggler3 { background: #e8e9d5; display: none; }

.toggleContainer {
	margin: 0 0 10px 0;
	padding: 30px;
	width: 33.33%;
  float: left;
}

@media screen and (max-width: 1250px) {
	.toggleContainer { width: 100%; }
}

.toggleContainer button {
	width: 100%;
	height: 75px;
	background: #1f787e;
	border: none;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

#toggler3 div { float: left; width: 50%; text-align: center;  padding: 30px 0; }
/*fReporte*/
