  /*start********************************************************************/

/*reset************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#signup .text:focus{
	outline:0px;
}

input:focus{
      outline: none;
}

.noOpacity {
	opacity: 0;
}

.break {
	clear: both;
}

.space20px {
	height: 20px
}

.centrar {
	margin: auto;
}
/*fReset***********************************************************************/

/*fonts************************************************************************/
/*quicksand*/
@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandLight.otf);
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandLightItalic.otf);
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandRegular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandItalic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandDash.otf);
	font-weight: normal;
	font-style: oblique;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandBold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: quicksand;
	src: url(fonts/quicksand/quicksandBoldItalic.otf);
	font-weight: bold;
	font-style: italic;
}
/*fQuicksand*/
/*fFonts***********************************************************************/

/*secondarySlidingNavigation***************************************************/
/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-size: 1.6rem;
  font-family: quicksand, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
	font-size: 1.6rem;
  font-family: quicksand, sans-serif;
  color: #33414a;
  background-color: #f2f2f2;
}

a {
  color: #7e4d7e;
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
header {
  position: fixed;
  z-index: 3;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #33414a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
header.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
header::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1125px) {
  header {
    height: 80px;
  }
  header.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  header::before {
    content: 'desktop';
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-logo img {
  display: block;
  max-width: 100%;
  margin-top: 14px;
}

@media only screen and (min-width: 1125px) {
  .cd-logo {
    position: absolute;
    z-index: 2;
    margin-left: 5%;
  }
  .cd-logo img {
    margin-top: 29px;
  }
}

.cd-brand {
	font-size: 15px;
	font-family: quicksand;
  display: inline-block;
  height: 100%;
  margin-left: 15px;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-brand p {
	color: white;
  display: block;
  max-width: 100%;
  margin-top: 19px;
}
@media only screen and (min-width: 1125px) {
  .cd-brand {
		font-size: 25px;
    position: absolute;
    z-index: 2;
    margin-left: 5%;
  }
  .cd-brand p {
    margin-top: 32px;
  }
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  /* hamburger icon created in CSS */
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
  background-color: #ffffff;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
@media only screen and (min-width: 1125px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  background: #1e262c;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a {
  display: block;
  font-size: 1.8rem;
  padding: .9em 2em .9em 1em;
  border-bottom: 1px solid #33414a;
  color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cd-main-nav li ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(260px);
  -moz-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px);
}
.cd-main-nav.nav-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-main-nav.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when
	secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}
.cd-main-nav.moves-out > li > ul {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-main-nav .cd-subnav-trigger, .cd-main-nav .go-back a {
  position: relative;
	cursor: pointer;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .cd-subnav-trigger::after,
.cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow icon in CSS */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #485c68;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-main-nav .cd-subnav-trigger::after, .cd-main-nav .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cd-main-nav .cd-subnav-trigger::before, .cd-main-nav
.cd-subnav-trigger::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}
.cd-main-nav .go-back a {
  padding-left: 2em;
}
.cd-main-nav .go-back a::before, .cd-main-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}
.cd-main-nav .placeholder {
  /* never visible or clickable- it is used to take up the same space as the
	.cd-subnav-trigger */
  display: none;
}
@media only screen and (min-width: 1125px) {
  .cd-main-nav {
    position: static;
    visibility: visible;
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* padding left = logo size + logo left position*/
    padding: 0 5% 0 calc(5% + 124px);
    background: transparent;
    text-align: right;
  }
  .cd-main-nav li {
    display: inline-block;
    height: 100%;
    padding: 0 .01em;
  }
  .cd-main-nav li a {
    display: inline-block;
    padding: .8em;
    line-height: 1;
    font-size: 1.6rem;
    border-bottom: none;
    /* Prevent .cd-subnav-trigger flicker is Safari */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  .cd-main-nav li a:not(.cd-subnav-trigger):hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: .6;
  }
  .cd-main-nav .go-back {
    display: none;
  }
  .cd-main-nav .cd-subnav-trigger {
    z-index: 1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5em;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
  }
  .cd-main-nav .cd-subnav-trigger:hover {
    border-color: rgba(255, 255, 255, 0.4);
  }
  .cd-main-nav .cd-subnav-trigger::before, .cd-main-nav
	.cd-subnav-trigger::after {
    top: 22px;
    right: 17px;
    background-color: #ffffff;
    /* change transform-origin to rotate the arrow */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, right 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s, right 0.3s;
    transition: transform 0.3s, width 0.3s, right 0.3s;
  }
  .cd-main-nav .cd-subnav-trigger::before {
    right: 23px;
  }
  .cd-main-nav .cd-subnav-trigger, .cd-main-nav .placeholder {
    padding-right: 2.4em;
    padding-left: 1.1em;
  }
  .cd-main-nav li ul {
    height: 80px;
    background-color: #1f787e;
    /* padding left = logo size + logo left position*/
    padding: 0 5% 0 calc(5% + 124px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: -webkit-transform 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s;
    transition: transform 0.3s 0.2s;
  }
  .cd-main-nav li ul li {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: -webkit-transform 0.3s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, opacity 0.3s 0s;
  }
  .cd-main-nav .placeholder {
    /* never visible or clickable- it is used to take up the same space as the
		.cd-subnav-trigger */
    display: block;
    visibility: hidden;
    opacity: 0;
    pointer-event: none;
  }
  .cd-main-nav.moves-out > li > a {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .cd-main-nav.moves-out > li > ul {
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav.moves-out > li ul li {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    -moz-transition: -moz-transform 0.3s 0.2s, opacity 0.3s 0.2s;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  }
  .cd-main-nav.moves-out .cd-subnav-trigger::before, .cd-main-nav.moves-out
	.cd-subnav-trigger::after {
    width: 14px;
    right: 17px;
  }
  .cd-main-nav.moves-out .cd-subnav-trigger::before {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  .cd-main-nav.moves-out .cd-subnav-trigger::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

.cd-main-content::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1125px) {
  .cd-main-content::before {
    content: 'desktop';
  }
}

.cd-main-content {
  position: relative;
  z-index: 2;
	height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  background-color: #f2f2f2;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.sectionContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	padding-top: 50px;
	margin-top: -50px;
}

.sectionContainer section p {
	font-size: 30px;
	font-weight: bold;
	position: relative;
  top: 45%;
  transform: translateY(-45%);
	text-align: center;
	transition: top 1s, font-size 1s;
}

.sectionContainer section .iconoSection {
	width: 5%;
	max-width: 64px;
	min-width: 48px;
	height: auto;
	max-height: 64px;
	margin-left: 47.5%;
	position: relative;
  top: 55%;
  transform: translateY(-55%);
	transition: 1s;
}

.sectionContainer section .iconoSection img {
	width: 100%;
	height: 100%;
}

.sectionContainer section .iconoSectionNC {
	width: 5%;
	max-width: 64px;
	height: auto;
	max-height: 64px;
	margin: auto;
	position: relative;
  top: 55%;
  transform: translateY(-55%);
	transition: 1s;
}

.sectionContainer .horizontalVertical4 div {
	width: 8%;
}

@media all and (orientation:portrait) {
	.sectionContainer section div {
		width: 15%;
	}

	.sectionContainer .horizontalVertical4 div {
		width: 15%;
	}
}

.cd-main-content h1 {
	margin-top: 3%;
	font-size: 16px;
	text-align: center;
}

.cd-main-content.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
@media only screen and (min-width: 1125px) {
  .cd-main-content {
    padding-top: 80px;
  }

	.sectionContainer {
		padding-top: 80px;
		margin-top: -80px;
	}

	.cd-main-content h1 {
		font-size: 20px;
	}
  .cd-main-content.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.no-js .cd-nav-trigger, .no-js .cd-subnav-trigger {
  display: none;
}

.no-js header {
  position: relative;
  height: auto;
}

.no-js .cd-logo img {
  margin-bottom: 14px;
}

.no-js .cd-logo p {
  margin-bottom: 14px;
}

.no-js .cd-main-nav {
  position: static;
  width: 100%;
  height: auto;
  visibility: visible;
  overflow: visible;
}
.no-js .cd-main-nav li {
  display: inline-block;
}
.no-js .cd-main-nav li:last-child {
  display: block;
}
.no-js .cd-main-nav .go-back {
  display: none;
}
.no-js .cd-main-nav li ul {
  position: static;
  width: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 1125px) {
  .no-js .cd-main-nav {
    height: 80px;
  }
  .no-js .cd-main-nav li ul {
    position: absolute;
    top: 80px;
  }
  .no-js .cd-main-nav li ul li {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .no-js .cd-main-nav li ul li:last-child {
    display: none;
  }
}

.no-js .cd-main-content {
  padding-top: 0;
}
@media only screen and (min-width: 1125px) {
  .no-js .cd-main-content {
    padding-top: 80px;
  }
}
/*fSecondarySlidingNavigation**************************************************/

/*divideSections***************************************************************/
.unaSection {
	width: 100%;
	height: 100%;
}

.vertical2 {
	width: 100%;
	height: 50%;
	cursor: pointer;
	transition: height 1s;
}

.horizontalVertical4 {
	float: left;
	width: 50%;
	height: 50%;
	cursor: pointer;
	transition: 1s;
}

.cerrarSection {
	position: absolute;
	top: 7.5%;
	right: 5%;
	z-index: 999999;
	color: white;
	font-size: 25px;
	cursor: pointer;
	transition: 1s;
	width: auto;
	height: auto;
	padding: 5px;
}

/*colores*/
.blanco {
	background-color: #eeeeee;
	color: #262626;
}

.negro {
	background-color: #262626;
	color: #eeeeee;
}

.azul {
	background-color: #2b5082;
	color: #eeeeee;
}

.rojo {
	background-color: #96263a;
	color: #eeeeee;
}

.cafe {
	background-color: #82642B;
	color: #eeeeee;
}

.verde {
	background-color: #5eac6c;
	color: #000000;
}
/*fColores*/
/*fDivideSections**************************************************************/

/*intoSections*****************************************************************/
.sectionAbierta {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -999;
	top: 0;
	opacity: 0;
	transition: opacity 2s, margin 1s;
}

.sectionAbierta .topBar{
	margin-top: 0px;
	border-top: 20px solid #24426c;
	transition: 1s;
}

.contentSectionAbierta {
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transition: 1s;
}

.contentContent {
	padding: 5%;
	width: 80%;
	min-width: 80%;
	height: 100%;
	margin: auto;
	border-radius: 10px;
	background: #24426c;
	overflow: auto;
}

.contextForm, .form {
	height: 50px;
	padding-top: 13px;
	box-sizing: border-box;
	width: 50%;
	transition: 1s;
	margin: 10px 0;
}

.contextForm {
	text-align: center;
	font-size: 20px;
	float: left;
	z-index: -10;
	border-radius: 10px 0 0 10px;
}

.form {
	width: 50%;
	float: right;
	z-index: -9;
	border-radius: 0 10px 10px 0;
}

.formInput {
	width: 50%;
	margin-left: 25%;
}

@media only screen and (max-width: 1124px) {
	.contextForm, .form {
		width: 100%;
		min-width: 100%;
	}

	.contextForm {
		margin: 0;
		border-radius: 10px 10px 0 0;
	}

	.form {
		margin: 0 0 30px 0;
		border-radius: 0 0 10px 10px;
	}
}
/*fIntoSections****************************************************************/

/*filter***********************************************************************/
.filterArea {
	width: 100%;
	height: 64px;
	background-color: #4a4a4a;
	position: fixed;
	z-index: 5;
}

.inputFilterContainer {
	width: 95%;
	margin: auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.inputFilterContainer input {
	width: 100%;
	height: 29px;
	text-align: center;
	border: none;
	opacity: 0.8;
	transition: 0.5s;
}

.inputFilterContainer input:focus {
	height: 30px;
	border: none;
	outline-color: #36989e;
}
/*fFilter**********************************************************************/

/*principal.php****************************************************************/
.contenedorLogoInicio {
	width: 50%;
	max-width: 2024px;
	height: auto;
	max-height: 1477.3722px;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	margin: auto;
}

.logoInicio {
	width: 100%;
	height: auto;
	transition: 0.5s;
}

.logoInicio:hover {
	opacity: 0.9;
}

@media all and (orientation:portrait) {
	.contenedorLogoInicio {
		width: 80%;
	}
}
/*f@media*/
/*fPrincipal.php***************************************************************/

/*login.php********************************************************************/
.formuLogin {
	width: 50%;
	height: auto;
	padding: 10px;
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	margin: auto;
}

.formuLogin * {
	transition: 0.5s;
}

.formuLogin aside {
	text-align: center;
	margin-bottom: 40px;
}

.formuLogin span {
	font-size: 25px;
	font-weight: bold;
}

.formuLogin button {
	border: none;
	padding: 10px;
	cursor: pointer;
}

.formuLogin button:first-child {
	float: left;
}

.formuLogin button:last-child {
	float: right;
}

@media only screen and (max-width: 700px) {
	.formuLogin aside {
		text-align: center;
		margin-bottom: 20px;
		width: 100%;
	}

	.formuLogin span {
		font-size: 20px;
		width: 100%;
		font-weight: bold;
	}

	.formuLogin button {
		border: none;
		padding: 10px;
	}

	.formuLogin button {
		float: none;
		width: 100%;
		margin: 20px 0;
	}
}
.formuLogin h1 {
	font-size: 45px;
	font-weight: bold;
	margin-bottom: 50px;
}

.formuLogin h2 {
	font-size: 20px;
	margin-bottom: 30px;
	float: left;
}

.formuLogin input[type='text'], .formuLogin input[type='password'] {
	float: right;
	border: none;
	padding: 3px;
	box-sizing: border-box;
	text-align: center;
}

.formuLogin input[type='text']:focus, .formuLogin input[type='password']:focus {
	border-color: #00ff5e;
	box-shadow: 0px 0px 8px 3px #23b057;
}

.formuLogin input[type='text'], .formuLogin input[type='password'] {
	border-radius: 10px;
}

.formuLogin input[type='submit'] {
	position: relative;
	width: 20%;
	min-width: 80px;
	height: auto;
	padding: 5px;
	background-color: #af392d;
	color: white;
	border: none;
	margin-left: 40%;
	cursor: pointer;
}

.errorLogin {
	position: absolute;
	z-index: 10;
	width: 100%;
	padding: 15px;
	transition: 0.5s;
	font-size: 16px;
}

.errorLogin:hover {
	margin-top: 10px;
}

@media only screen and (max-width: 700px) {
	.formuLogin {
		width: 50%;
		height: auto;
		padding: 5px;
		position: relative;
		top: 20%;
		transform: translateY(-20%);
		margin: auto;
	}

	.formuLogin h1 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.formuLogin h2 {
		font-size: 15px;
		margin-bottom: 10px;
		float: none;
		position: relative;
		width: 100%;
		text-align: center;
	}

	.formuLogin input[type='text'], .formuLogin input[type='password'] {
		position: relative;
		float: none;
		width: 100%;
	}

	.formuLogin input[type='text']:focus, .formuLogin input[type='password']:focus
	{
		outline:0px;
	}

	.formuLogin input[type='submit'] {
		margin: 30px 0 0 0;
		width: 100%;
	}

	.errorLogin {
		padding: 8px;
		font-size: 14px;
	}
}

.errorLogin p {
	text-align: center;
}
/*fLogin.php*******************************************************************/

/*proyectos.php****************************************************************/
@media only screen and (min-width: 400px) {

}
/*fProyectos.php***************************************************************/

/*clientes.php*****************************************************************/
/*fClientes.php****************************************************************/

/*cotizaciones.php*************************************************************/
.tableContainer {
	width: 100%;
	height: auto;
	overflow: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: 64px;
	padding-bottom: 17px;
}

@media only screen and (min-width: 840px) {
	.tableContainer {
		overflow: hidden;
	}
}

.sectionContainer table {
	position: relative;
	width: 100%;
}

.sectionContainer table thead tr{
	height: 50px;
}

.sectionContainer table thead tr th{
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	background: #4c8ca3;
}

.sectionContainer table thead tr th:first-child {
	width: 4%;
	min-width: 40px;
}

.sectionContainer table thead tr th:nth-child(2) {
	width: 10%;
	min-width: 100px;
}

.sectionContainer table thead tr th:nth-child(3),
.sectionContainer table thead tr th:nth-child(4) {
	width: 33%;
	min-width: 250px;
}

.sectionContainer table thead tr th:last-child {
	width: 20%;
	min-width: 200px;
}

.sectionContainer table tbody td table tr td {
	width: 50%;
	text-align: center;
	vertical-align: middle;
}

.sectionContainer table tbody tr:nth-child(odd){
	background-color: #599a9a;
	color: black;
}

.sectionContainer table tbody tr:nth-child(even){
	background-color: #365757;
	color: white;
}

.sectionContainer table tbody tr td div {
	cursor: pointer;
	height: 100%;
	width: 50%;
	float: left;
}

.sectionContainer table tbody tr td .verP2 {
	cursor: pointer;
	height: 100%;
	width: 100%;
	float: left;
}

.sectionContainer table tbody tr td div span {
	position: relative;
  top: 25%;
  transform: translateY(-25%);
}

.sectionContainer table tbody tr:nth-child(odd) td div:first-child {
	background: #62c18e;
}

.sectionContainer table tbody tr:nth-child(odd) td div:last-child {
	background: #db7979;
}

.sectionContainer table tbody tr:nth-child(even) td div:first-child {
	background: #347853;
	color: white;
}

.sectionContainer table tbody tr:nth-child(even) td div:last-child {
	background: #873333;
	color: white;
}

.sectionContainer table tbody tr:nth-child(odd) td .verP2:last-child {
	background: #62c18e;
}

.sectionContainer table tbody tr:nth-child(even) td .verP2:last-child {
	background: #347853;
	color: white;
}

.sectionContainer table tbody tr td{
	height: 40px;
	vertical-align: middle;
	text-align: center;
}

.sectionContainer table tr th:hover, .sectionContainer table tr td:hover {
	transition: 0.5s;
	opacity: 0.9;
}
/*fCotizaciones.php************************************************************/

/*verCotizacion.php************************************************************/
.backVerCotizacion {
	width: 100%;
	height: 100%;
	padding: 50px;
	background-color: #d4cda9;
}

.formCotizacionContent {
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
}

.colFormCotizacion {
	width: 50%;
	min-width: 450px;
	height: 100%;
	padding: 20px;
	float: left;
}

.colFormCotizacion h3 {
	float: left;
	font-weight: bold;
	font-size: 17px;
}

.colFormCotizacion span {
	float: right;
	font-size: 16px;
	max-width: 95%;
}

@media only screen and (max-width: 1000px) {
	.backVerCotizacion {
		padding: 0px;
	}

	.colFormCotizacion {
		width: 100%;
		min-width: auto;
		height: 100%;
		padding: 0px;
	}
}

.noCotizacion {
	font-weight: bold;
}

.datosCotizacion {
	width: 100%;
	height: 150px;
	padding: 10px;
	background-color: #c3a292;
	border-radius: 10px 10px 0px 0px;
}

.datosVenClien {
	width: 100%;
	height: auto;
	padding: 10px;
	background-color: #abcfa6;
	border-radius: 0px 0px 5px 5px;
	overflow: auto;
}

.partidasCotizacion {
	overflow: auto;
}

.partidasCotizacion table thead th:first-child{
	border-radius: 10px 0 0 0;
}

.partidasCotizacion table thead th:last-child{
	border-radius: 0 10px 0 0;
}

.partidasCotizacion table tbody tr:last-child td:first-child{
	border-radius: 0 0 0 10px;
}

.partidasCotizacion table tbody tr:last-child td:last-child{
	border-radius: 0 0 10px 0;
}
/*fVerCotizacion.php***********************************************************/

/*prueba.php*******************************************************************/
/*Solo pruebas*/
/*fPrueba.php******************************************************************/

  /*end**********************************************************************/
